<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
	<add key="DatabaseServer" value="DEV23\sqlexpress" />
	<add key="DatabaseName" value="OMMWebCache2" />
	<add key="Username" value="sa" />
	<add key="Password" value="omm123" />
	<add key="IsPrimary" value="true" />
  </appSettings>

</configuration>
